:root {
    --background-blue: #dee2ff;
    --color-orange: #ff6700;
}

@media (max-widt: 768px) {
    .image-prev {
        height: 8rem;
    }
}

.image-prev {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 12rem;
}


label {
    &.uk-margin-medium-right {
        color: #403d39;
    }
}

button.uk-button-primary:disabled {
    background-color: #8e9aaf;
    color: #fff;
}

button {
    &.uk-button-primary {
        background-color: #04773b;
    }
}